@media only screen and (max-width: 1140px)
{
    .nav-list{
        flex-direction: column;
    }
    .main-nav
    {
        height: 447px; 
        flex-direction: column;
        transition:  all 0.5s ease-out;
    }

    .right-nav
    {
        text-align: center;
    }

    .box-main
    {
        flex-direction: column;
        max-width: 100%;
    }

    #search
    {
        width: 100%;
    }
    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp
    {
        opacity: 0;
    }

    .section-a{
        flex-direction: column-reverse;
    }
    .small-text{
        text-align: center;
        
    }
    .big-text{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }
    .paras
    {
        padding: 0px;
    }
}
